<!DOCTYPE html>
<html>

  <head>
    <title>Jovian Careers</title>
    <style>
      h1{
        font-size:40px;
        font-family: Roboto;
        text-align: center;
        color: rgb(50,50,50)
      }
      h2{
        font-family: Roboto;
        font-size: 32px;
        color: rgb(100,100,100);
        text-align: center;
        font-weight: normal;
      }

      #container{
        margin: 0 auto 0 auto <!-- To center the webpage automatically-->
        
      }
    </style>
  </head>

  <body>
    <div id='container'>
      <h1>Jovian Careers</h1>
      <h2>Job Openings</h2>
    </div>
    <div style='text-align:center'>
      <button>Contact Us</button>
    </div>
  </body>
</html>